<%= form_with(model: user, class: 'needs-validation', novalidate: true, data: { form_validation_target: "form" }) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control', value: user.password, data: { action: "form-validation#handleChange" }, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form-control', value: user.password_confirmation, data: { action: "form-validation#handleChange" }, required: true %>
  </div>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
  <div id="error_explanation">
    <%= render 'form_errors', user: user %>
  </div>
<% end %>
